<a href="https://colab.research.google.com/github/2303A51629/B22_1629/blob/main/Handlingmissingvalues.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
#creating a dataset
data = {
    'Name':['Teju','sindhu','kavya','santhosh'],
    'Age':[25,np.nan, 30, 28],
    'Marks':[85,90,np.nan,92]
}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)
#Detect missing values
print("\n chech for missing values:")
print(df.isnull())

Original DataFrame:
       Name   Age  Marks
0      Teju  25.0   85.0
1    sindhu   NaN   90.0
2     kavya  30.0    NaN
3  santhosh  28.0   92.0

 chech for missing values:
    Name    Age  Marks
0  False  False  False
1  False   True  False
2  False  False   True
3  False  False  False

In [2]:
df_dropped = df.dropna()
print("\nDataFrame after dropping missing values:")
print(df_dropped)

DataFrame after dropping missing values:
       Name   Age  Marks
0      Teju  25.0   85.0
3  santhosh  28.0   92.0

In [3]:
df_filled = df.fillna(0)
print("\nDataFrame after filling missing values:")
print(df_filled)

DataFrame after filling missing values:
       Name   Age  Marks
0      Teju  25.0   85.0
1    sindhu   0.0   90.0
2     kavya  30.0    0.0
3  santhosh  28.0   92.0

In [4]:
df['age']=df['Age'].fillna(df['Age'].mean())
print(df)

       Name   Age  Marks        age
0      Teju  25.0   85.0  25.000000
1    sindhu   NaN   90.0  27.666667
2     kavya  30.0    NaN  30.000000
3  santhosh  28.0   92.0  28.000000

In [5]:
df['marks']=df['Marks'].fillna(df['Marks'].median())
print(df)

       Name   Age  Marks        age  marks
0      Teju  25.0   85.0  25.000000   85.0
1    sindhu   NaN   90.0  27.666667   90.0
2     kavya  30.0    NaN  30.000000   90.0
3  santhosh  28.0   92.0  28.000000   92.0

In [7]:
#Handling Duplicates : Remove Duplicates
data = {
    'ID':[1,2,2,3,4,4],
    'Name':['Teju','sindhu','kavya','santhosh','Vyshu','shai'],
    'Marks':[85,90,90,92,78,92]
}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)
#Remove duplicate rows
df_no_duplicates = df.drop_duplicates('ID')
print("\n after removing duplicates:")
print(df_no_duplicates)

Original DataFrame:
   ID      Name  Marks
0   1      Teju     85
1   2    sindhu     90
2   2     kavya     90
3   3  santhosh     92
4   4     Vyshu     78
5   4      shai     92

 after removing duplicates:
   ID      Name  Marks
0   1      Teju     85
1   2    sindhu     90
3   3  santhosh     92
4   4     Vyshu     78

In [8]:
#Changing data Types
data = {
    'ID':['1','2','3','4'],
    'Marks':[85,90,92,78]
}
df = pd.DataFrame(data)
print("Original Data Types:")
print(df.dtypes)

#convert to numeric
df['ID']=pd.to_numeric(df['ID'])
df['Marks']=pd.to_numeric(df['Marks'])
print("\nAfter converting data types:")
print(df.dtypes)

Original Data Types:
ID       object
Marks     int64
dtype: object

After converting data types:
ID       int64
Marks    int64
dtype: object

In [10]:
#applying functions
df['Marks']=df['Marks'].apply(lambda x:x+5)
print(df)

   ID  Marks
0   1     90
1   2     95
2   3     97
3   4     83

In [12]:
#Normalization(Scaling between 0 and 1)
df['Marks_Normalized']=(df['Marks']-df['Marks'].min())/(df['Marks'].max()-df['Marks'].min())
print("Normalized Marks:")
print(df)

Normalized Marks:
   ID  Marks  Marks_Normalized
0   1     90          0.500000
1   2     95          0.857143
2   3     97          1.000000
3   4     83          0.000000